﻿@model IEnumerable<TableModel>
@{
    ViewBag.title = "Testing";
    ViewBag.Time = DateTime.Now;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
</head>
<body>      
    <div class="container" id="myTable">
        <div class="text-center mt-4 ml-4" >
            <h3 style="color: #04AA6D; font-size: 40px " class="text-center mt-4">SAFV Report</h3>
            <button data-html2canvas-ignore="true" class="btn  text-left mb-2" style="background-color:#483D8B;color:white;margin-left:1100px;" id="downloadButton">Download PDF</button>
            <p class="text-left" style="margin-left:1100px">@ViewBag.Time</p>
            <table class="table text-center" style="width: 100%; border: medium ; border-radius:10px;box-shadow: 5px 5px 5px 5px #888888;">

                <thead style="background-color: #04AA6D; height: 60px" class="text-center mb-4">
                    <tr class="text-center" style="font-size:20px">
                        <th style="color: white " scope="col">Name</th>
                        <th style="color: white " scope="col">Age</th>
                        <th style="color: white " scope="col">Area</th>
                        <th style="color: white " scope="col">Company</th>
                    </tr>
                </thead>
                <tbody class="mt-4">
                    @foreach (var data in Model)
                    {
                        <tr style="height:70px; font-size:20px; text-align:center;border:2px solid;">
                            <td>@data.Name</td>
                            <td>@data.Age</td>
                            <td>@data.Area</td>
                            <td>@data.Company</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    @section scripts{
        <script type="text/javascript">
            $("body").on("click", "#downloadButton", function () {
               
                html2canvas($('#myTable')[0], {
                    onrendered: function (canvas) {
                        var data = canvas.toDataURL();
                        var docDefinition = {
                            content: [{
                                image: data,
                                width: 500
                            }]
                        };
                        pdfMake.createPdf(docDefinition).download("@ViewBag.title" + "-" + "@ViewBag.Time" + ".pdf");
                    }
                });
            });
        </script>
    }
</body>
</html>










